---
layout: default
---

{% assign presskit = site.data.presskit %}

<div class='root container'>

  <header>
  {% for file in site.static_files %}
    {% if file.path == '/images/header.png' %}
    <img src='images/header.png' class='header'>
    {% endif %}
  {% endfor %}
  </header>

  <div class='container'>
    <div class='box factsheet'>
      <h2 id='factsheet'>Factsheet</h2>
      <dl>
        <dt><h3>Location</h3></dt>
        <dd>{{presskit.location}}</dd>
<!--
        <dt><h3>Founded</h3></dt>
        <dd>{{presskit.founded}}</dd> -->

        <dt><h3>Website</h3></dt>
        <dd><a href='http://{{presskit.website}}'>{{presskit.website}}</a></dd>

        <dt><h3>Contact</h3></dt>
        <dd><a href='mailto:{{presskit.email}}'>{{presskit.email}}</a></dd>

<!--         <dt><h3>Social</h3></dt>
        <dd>Twitter <a href='http://twitter.com/{{presskit.social.twitter}}'>@{{presskit.social.twitter}}</a></dd>
        <dd>Instagram <a href='http://instagram.com/{{presskit.social.instagram}}'>@{{presskit.social.instagram}}</a></dd>
 -->
        <dt><h3>Projects</h3></dt>
        {% for project in site.projects %}
          <dd><a href='{{project.website}}'>{{project.title}}</a></dd>
          <!-- <dd><a href='{{project.url | remove_first:'/' | remove: '.html' | prepend: base_url}}'>{{project.title}}</a></dd> -->
        {% else %}
          <dd>-</dd>
        {% endfor %}

<!--         <dt><h3>Address</h3></dt>
        {% for address_line in presskit.address %}
          <dd>{{address_line}}</dd>
        {% endfor %}
        </dt> -->
      </dl>
    </div>

    <div class='box'>

      <div class='box'>
        <h2 id='description'>About</h2>
        <p>{{presskit.description}}</p>
      </div>

<!--       {% if presskit.bios %}
      <div class='box'>
      {% for bio in presskit.bios %}
        <p>{{bio.bio}}</p>
      {% endfor %}
      </div>
      {% endif %} -->

<!--       <div class='box'>
        <h2 id='history'>History</h2>
        {% for story in presskit.history %}
          <h3>{{story.header}}</h3>
          <p>{{story.text}}</p>
        {% endfor %}
      </div> -->

<!--       <div class='box'>
        <h2 id='projects'>Projects</h2>
        <ul class='project-list'>
        {% for project in site.projects %}
          <li><a href='{{project.url | remove_first:'/' | remove: '.html' | prepend: base_url}}'>{{project.title}}</a></li>
        {% else %}
          <li>No pain no game</li>
        {% endfor %}
        </ul>
      </div> -->

      {% if presskit.videos %}
      <div class='box'>
        <h2 id='trailers'>Videos</h2>
        {% for trailer in presskit.videos %}
          {% include trailer.html %}
        {% else %}
          <p>There are currently no trailers available for {{presskit.title}}. Check back later for more or <a href='#contact'>contact us</a> for specific requests!</p>
        {% endfor %}
      </div>
      {% endif %}




<!--   <div class='box'>
    <h2 id='images'>Images</h2>
    <a href='images/images.zip' class='notice'>download all screenshots &amp; photos</a>
    <div class='masonry'>
    {% for file in site.static_files %}
      {% assign image = file.path | split: '/' %}
      {% assign filename = image | last %}
      {% if image[1] == 'images' and filename != 'header.png' and filename != 'logo.png' and filename != 'icon.png' and image[3] == nil %}
      <div class='masonry-item'>
        <a href='{{file.path | remove_first:'/'}}'>
          <img src='{{file.path | remove_first:'/'}}' alt='{{image | last}}' />
        </a>
      </div>
      {% endif %}
    {% endfor %}
    </div>

    <p class='images-text'>There are far more images available for {{presskit.title}}, but these are the ones we felt would be most useful to you. If you have specific requests, please do <a href='#contact'>contact us</a>!</p>
  </div> -->


  <div class='box'>
    <h2 id='logo'>Logo &amp; Icon</h2>
    <a href='images/okaynokay-logos.zip' class='notice'>download all logo files</a>
    <div>
      <a href='images/oknk-logo-light.png'>
        <img src='images/oknk-logo-light.png' alt='logo-light' />
      </a>
    </div>
    <div>
      <a href='images/oknk-logo-light-white.png'>
        <img src='images/oknk-logo-light-white.png' alt='logo-light-white' />
      </a>
    </div>
    <div>
      <a href='images/oknk-logo-dark.png'>
        <img src='images/oknk-logo-dark.png' alt='logo-dark' />
      </a>
    </div>
    <div>
      <a href='images/oknk-logo-dark-white.png'>
        <img src='images/oknk-logo-dark-white.png' alt='logo-dark-white' />
      </a>
    </div>

  </div>


  {% if presskit.awards %}
  <div class='box'>
    <h2 id='awards'>Awards &amp; Recognition</h2>
    <ul>
      {% for award in presskit.awards %}
        <li>'{{award.description}}' - <cite>{{award.info}}</cite></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  {% if presskit.quotes %}
  <div class='box'>
    <h2 id='quotes'>Selected Articles</h2>

    {% for quote in presskit.quotes %}
    <blockquote>
      <p>{{quote.description}}</p>
      <footer>
        — <cite>{{quote.name}}, <a href='{{quote.link}}'>{{quote.website}}</a></cite>
      </footer>
    </blockquote>
    {% endfor %}
  </div>
  {% endif %}


<!--   <div class='box'>
  <div class='container'>

    <div class='box'>
      <h2 id='credits'>Team</h2>
      <dl>
      {% for person in presskit.people %}
        <dt>{{person.person}}</dt>
        <dd><a href='http://{{person.website}}'>{{person.role}}</a></dd>
      {% endfor %}
      </dl>
    </div>

    <div class='box'>
      {% include contacts.html %}
    </div>

  </div>
  </div> -->

      <div class='box footer'>
        {% include footer.html %}
      </div>



  </div>
</div>
