body {
  background: #191919;
  color: #ddd;
}

a {
  color: #fff;
}
a:active {
  outline: none
}
a:hover  {
  color: #53DFFA !important;
}

h1, h2, h3, h4, h5, h6 {
  color:#aaa;
}

.notice {
  background: #555;
  color: #ddf;
  text-decoration:none;
  border: 1px solid #555;
}