@font-face {
  font-family: 'SeaqFont';
  src: url('SeaqRegular.otf');
}

@media only screen and (max-device-width: 480px) {
  header, header img {
    width:100%;
  }

  .factsheet {
    float:left;
    background:#f0f;
  }
}

@media (max-width: 767px) {}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.94em;
  line-height:1.6em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SeaqFont', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.root {
  max-width: 767px;
  margin: auto;
}

.footer {
  text-align:center;
}

.container {}

.container .container {
  display: flex;
}

.container .container .box {
  flex: 1 1 auto;
}

.box {
  max-width: 600px;
  padding: 0 8px;
}

.factsheet h3 {
  margin-bottom: 0.25em;
}

h2, h3 {
  margin-top: 1.5em;
}

dt {
  margin: 0.4em 0 0 0;
}

dt dl {
  margin-top: 0;
}

.credits dt {
  margin-left: 0.8em;
}

dd {
  margin-left: 0;
}

.project-list {
  list-style-type: none;
}

.project-list li {
  display: inline-block;
  font-size: 120%;
}

.inline-list {
  display: inline-block;
}

.notice {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid rgba(45,112,145,.3);
  border-radius: 4px;
}

blockquote {
  display: inline-block;
}

blockquote p {
  font-size: 1.3em;
  line-height: 1.4em;
  margin: .2em;
}

blockquote p:before {
  content: '“';
}

blockquote p:after {
  content: '”';
}

blockquote footer {
  text-align: right;
}

img {
  max-width:600px;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  lefT: 0;
  width: 100%;
  height: 100%;
}

.feature-list {
  /*list-style-type: none;*/
  padding-left: 1.5em;
}

.feature-list li {
  margin: 8px 0;
}
