<div class='box'>

  {% if trailer.youtube %}
  <div class='iframe-container'>
    <iframe style='max-width:584px;max-height:329px'  src='//www.youtube.com/embed/{{trailer.youtube}}' frameborder='0' allowfullscreen></iframe>
  </div>
  {% else if trailer.vimeo %}
  <div class='iframe-container'>
    <iframe src='//player.vimeo.com/video/{{trailer.vimeo}}' frameborder='0' allowfullscreen></iframe>
  </div>
  {% else if trailer.dailymotion %}
  <div class='iframe-container'>
    <iframe src='//dailymotion.com/embed/video/{{trailer.dailymotion}}' frameborder='0' allowfullscreen></iframe>
  </div>
  {% endif %}

</div>
