---
layout: default
---

{% assign base_url = '.' %}

{% assign company = site.data.presskit %}
{% assign project = page %}
{% assign root = "seaquence" %}


<div class='root container'>

  <header>
    <img src='{{base_url}}/images/{{root}}/header.svg' class='header'>
  </header>

  <div class='container'>
    <div class='box'>

    <div class='box'>
      {% for trailer in project.trailers %}
        {% include trailer.html %}
      {% else %}
      <p>There are currently no trailers available for {{project.title}}. Check back later for more or <a href='#contact'>contact us</a> for specific requests!</p>
      {% endfor %}
    </div>

    <br />

    <div class='box'>



      <p>
        Sign up for our (low traffic) announce list to get notified when Seaquence is available for iOS!
      </p>

  <p>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup form { text-align:left; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//seaquence.us14.list-manage.com/subscribe/post?u=3fdd5f25d4bef024b16678665&amp;id=0c17c3906d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3fdd5f25d4bef024b16678665_0c17c3906d" tabindex="-1" value=""></div>
    <br/><br/>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
  </p>
  <p>

    <a href="https://twitter.com/seaquence" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @seaquence</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  </p>

    </div>





      <div class='box'>
        <h2 id='description'>About</h2>
        <p>{{project.description}}</p>
      </div>


      <div class='box'>
        <h2>Features</h2>
        <ul class='feature-list'>
        {% for feature in project.features %}
          <li>{{feature}}</li>
        {% endfor %}
        </ul>
      </div>



      <div class='box'>
        <h2>Pro Features (In App Purchase)</h2>
        <ul class='feature-list'>
        {% for feature in project.profeatures %}
          <li>{{feature}}</li>
        {% endfor %}
        </ul>
      </div>


      {% if project.history %}
      <div class='box'>
        <h2 id='history'>History</h2>
        <p>{{project.history}}</p>
      </div>
      {% endif %}

      {% if project.unique %}
      <div class='box'>
        <h2 id='unique'>What makes Seaquence Unique</h2>
        <p>{{project.unique}}</p>
      </div>
      {% endif %}

<!--       {% if project.design %}
      <div class='box'>
        <h2 id='design'>Design</h2>
        <p>{{project.design}}</p>
      </div>
      {% endif %} -->

      {% if project.technicals %}
      <div class='box'>
        <h2 id='technicals'>Technical Details</h2>
        <p>{{project.technicals}}</p>
      </div>
      {% endif %}

      {% if project.bios %}
      <div class='box'>
        <h2 id='bios'>Team Bios</h2>
      {% for bio in project.bios %}
        <dt>{{bio.person}}</dt>
        <p>{{bio.bio}}</p>
      {% endfor %}
      </div>
      {% endif %}




  <div class='box'>
    <h2 id='images'>Images</h2>

    <div class='masonry'>
    {% for file in site.static_files %}
      {% assign image = file.path | split: '/' %}
      {% assign filename = image | last %}

      {% if image[2] == root and image[3] != 'logos' and filename != 'header.png' and filename != 'logo.png' and filename != 'icon.png' %}
      {% assign oneImageDisplay = true %}
      <div class='masonry-item'>
        <a href='{{base_url}}{{file.path}}'>
          <img src='{{base_url}}{{file.path}}' alt='{{image | last}}' />
        </a>
      </div>
      {% endif %}
    {% endfor %}
    </div>

    {% unless oneImageDisplay %}
    <p class='images-text'>There are currently no screenshots available for {{project.title}}. Check back later for more or <a href='#contact'>contact us</a> for specific requests!</p>
    {% endunless %}
  </div>

  <!--
  <div class='box'>
    <h2 id='logo'>Logo &amp; Icon</h2>
    <a href='{{base_url}}/images/{{root}}/logo.zip' class='notice'>download all logo files</a>
    <div class='container'>
      <div class='box'>
        <a href='{{base_url}}/images/{{root}}/logo.png'><img src='{{base_url}}/images/{{root}}/logo.png' alt='logo' /></a>
      </div>
      <div class='box'>
        <a href='{{base_url}}/images/{{root}}/icon.png'><img src='{{base_url}}/images/{{root}}/icon.png' alt='icon' /></a>
      </div>
    </div>
    <p>There are currently no logos or icons available for {{project.title}}. Check back later for more or <a href='#contact'>contact us</a> for specific requests!</p>
  </div>
  -->

<!--   {% if project.awards %}
  <div class='box'>
    <h2 id='awards'>Exhibition</h2>
    <ul>
      {% for award in project.awards %}
      <li>'{{award.description}}' <cite>{{award.info}}</cite></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}   -->

<!--   {% if project.awards-old %}
  <div class='box'>
    <h2 id='awards'>Awards &amp; Recognition for Seaquence.org</h2>
    <ul>
      {% for award in project.awards-old %}
      <li>'{{award.description}}' <cite>{{award.info}}</cite></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if project.press-old %}
  <div class='box'>
    <h2 id='awards'>Press for Seaquence.org</h2>
    <ul>
      {% for press in project.press-old %}
      <li><a href='{{press.link}}'>{{press.title}}</a> <cite>{{press.source}}</cite>, {{press.date}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} -->

  {% if project.quotes %}
  <div class='box'>
    <h2>Selected Articles</h2>
    <!-- promoter quotes here -->

    {% for quote in project.quotes %}
    <blockquote>
      <p>{{quote.description}}</p>
      <footer>
        — <cite>{{quote.name}}, <a href='http://{{quote.link}}'>{{quote.website}}</a></cite>
      </footer>
    </blockquote>
    {% endfor %}
  </div>
  {% endif %}

      <!-- press-can-request-copy with distribute() here -->

  {% if project['monetization-permission'] %}
  <div class='box'>
    <h2 id='monetize'>Monetization Permission</h2>

    {% case project['monetization-permission'] %}
    {% when 'false' %}
    <p>{{company.title}} does currently not allow for the contents of {{project.title}} to be published through video broadcasting services.</p>
    {% when 'ask' %}
    <p>{{company.title}} does allow the contents of this project to be published through video broadcasting services only with direct written permission from {{project.title}}. Check at the bottom of this page for contact information.</p>
    {% when 'non-commercial' %}
    <p>{{company.title}} allows for the contents of {{project.title}} to be published through video broadcasting services for non-commercial purposes only. Monetization of any video created containing assets from {{project.title}} is not allowed.</p>
    {% when 'monetize' %}
    <p>{{company.title}} allows for the contents of {{project.title}} to be published through video broadcasting services for any commercial or non-commercial purposes. Monetization of videos created containing assets from {{project.title}} is legally &amp; explicitly allowed by {{company.title}}.</p>
      <!-- This permission can be found in writing at <a href='#'>...</a> -->
    {% endcase %}
  </div>
  {% endif %}

  {% if project.additionals %}
  <div class='box'>
    <h2 id='links'>Additional Links</h2>

    {% for additional in project.additionals %}
    <dt><a href='http://{{additional.link}}' alt='{{additional.link}}'>{{additional.title}}</a></dt>
    <dd>{{additional.description}}</dd>
    {% endfor %}
  </div>
  {% endif %}

<!--
  <div class='box'>
    <h2 id='about'>About {{company.title}}</h2>

    <h3>Boilerplate</h3>
    <p>{{company.description}}</p>

    <h3>More information</h3>
    <p>More information on {{company.title}}, our logo &amp; relevant media are available <a href='{{base_url}}'>here</a></p>
  </div> -->

  <div class='container'>
    <div class='box credits'>

      <h2 id='credits'>Credits</h2>
      <dt>
      <a href='http://okaynokay.xyz'>Okaynokay</a>
      <dl>
      {% for credit in project.credits %}
        {% if credit.url %}
          <dt><a href='{{credit.url}}'>{{credit.person}}</a></dt>
        {% else if credit.role %}
          <dt>{{credit.person}}</dt>
        {% endif %}
      {% endfor %}
      </dl>
      </dt>


      <h2 id='thanks'>Collaborators</h2>
      <dl>
      {% for credit in project.collaborators %}
        {% if credit.url %}
          <dt><a href='{{credit.url}}'>{{credit.person}}</a></dt>
        {% else %}
          <dt>{{credit.person}}</dt>
        {% endif %}
      {% endfor %}
      <dt>
      <a href='http://grayarea.org'>Gray Area</a>
      <dl>
      {% for credit in project.collaborators-grayarea %}
        {% if credit.url %}
          <dt><a href='{{credit.url}}'>{{credit.person}}</a></dt>
        {% else %}
          <dt>{{credit.person}}</dt>
        {% endif %}
      {% endfor %}
      </dl>
      </dt>

      </dl>



<br /><br />

      <dl>
      {% for logo in project.logos %}
        <dd class='logo'><a href='{{logo.url}}'><img src="{{base_url}}/images/{{root}}/{{logo.img}}"/ ></a></dd><br/>
      {% endfor %}
      </dl>

<!--       <h2 id='credits'>Collaborators</h2>

      <dl>
      {% for credit in project.collaborators %}
        <dt>{{credit.person}}</dt>

        {% if credit.website %}
          <dd><a href='{{credit.website}}'>{{credit.role}}</a></dd>
        {% else if credit.role %}
          <dd>{{credit.role}}</dd>
        {% endif %}


      {% endfor %}
      </dl> -->

    <div class='box'>
    <dl>
    <!-- &copy; {{site.data.presskit.title}} {{'now' | date: '%Y' }} -->
    </dl>
    </div>

    </div>

    <div class='box'>
      {% include contacts.html %}
    </div>



  </div>


    </div>
  </div>
</div>
